@use "@material/theme" with (
  $primary: #118EBF,
  $secondary: #0D5B8C,
  $background: #c7c7c7,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";
@use "@material/image-list/mdc-image-list"
;@use "@material/image-list";


@include card.core-styles;
@include textfield.core-styles;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px auto;
}

/* 
Top Bar Login
*/
.mdc-top-app-bar{
  background-color: #ffffff;
  border-style:solid;
}
#div_imagen_login_topbar{
  margin: 1rem;
  height: 30px;
  margin-left: 5%;
  position: relative;
}

#imagen_login_topbar{
  width: auto; 
  max-height: 100%; 
}

#marketplace_button{
  margin-left: 5%;
}

.material-icons{ 
  color: rgba(0, 0, 0, 0.54); 
}

.material-iconsmd-inactive {
   color: rgba(0, 0, 0, 0.26); 
  }

#profile_button{
   font-size: 48px;
   margin-right: 10%;
}

hr{
  height: 1px;
  background-color: #c7c7c7;
  border: none;
}



/* 
Central Login Box
*/
.mdc-text-field {
  margin: 1rem auto;
  margin-left: 3rem;
}


#caja-login{
  margin-top: 10rem;
  margin-right: 40%;
  margin-left: 40%;
  min-width: 25rem;
  max-width: 40rem;
}

#login_button{
  margin-left: 28%;
  margin-bottom: 20px;
}

#div_imagen_login{
  height: 90px;
  margin-bottom: 1rem;
}

#imagen_login{
  width: auto; 
  max-height: 100%; 
  
}

#registro{
  margin-left: 31%; 
}

#olvide{
  margin-top: 0.5rem;
  margin-left: 20%;
  display: inline-block;
}

//Marketplace
#div_imagen_banner{
  height: 90px;
  display: inline;
}

#imagen_banner{
  width: auto; 
  max-height: 100%;
  margin-left: 12%; 
}

#hover_text{
  margin-left: 60%;
  margin-top: 6em;
  color: #a19f9f;
}


//Combobox
.demo-width-class {
  width: 400px;
  display: inline;
}

#combobox{
  margin-left: 12.3%;
}

.mdc-menu-surface--fullwidth{
  width: 15%;
}

.mdc-select__anchor {
  width: 212px;
  min-width: 0;
  flex: 1 1 auto;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

//Sistema de imagenes flotantes
.float-area{
  height:100vh;
  display: inline;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-left: 3.5%;
}

.floating-img{
  transform:
    rotateX(51deg)
    rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;

  &:hover {
    animation: floater 4s infinite;
    transition: ease 0.5s;
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
}


@keyframes floater {
  0%{transform:rotateX(51deg) rotateZ(43deg);transition: ease 0.5s;}
  50%{transform:rotateX(0deg) rotateZ(0deg);transition: ease 0.5s;}
}

@media only screen and (min-width: 1500px){

  #animated{
    display: inline;
  }
}
@media only screen and (max-width: 1500px){

  #animated{
    margin-left: 10%;
  }
  #banner-principal{
   margin: auto;
   width: 700px;
  }
}

#hover_text{
  display: none;
}
//Contenido de Marketplace

#contenido_marketplace{
  margin-top: 3em;
}

#search{
  margin-left: 12.3%;
  margin-top: 5%;
}

#filtros_y_Buscador{
  margin-left: 5%;
  border-style: solid;
  float: left;
  margin-right: 5%;
}


#NFT_List{
 // border-style: solid;
  display: block;
 
}
.my-image-list {
  @include image-list.standard-columns(5);
}
//Utilizado para desaparecer o aparecer las pantallas

.sample-content--hidden {
  display: none;
}




